<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- Mappings between table and object -->

<mapper namespace="common.mapper">

    <resultMap id="auditableResultMap" type="Auditable">
        <result property="createId" column="CREATE_ID" />
        <result property="createTs" column="CREATE_TS" />
        <result property="updateId" column="UPDATE_ID" />
        <result property="updateTs" column="UPDATE_TS" />
    </resultMap>

    <resultMap id="adjustableResultMap" type="Adjustable" extends="auditableResultMap">
        <result property="lastAdjUserId" column="LAST_ADJ_USER_ID" />
        <result property="lastAdjTs" column="LAST_ADJ_TS" />
        <result property="lastAdjApprovalStatusCd" column="LAST_ADJ_APPROVAL_STATUS_CD" />
        <result property="lastAdjApproverUserId" column="LAST_ADJ_APPROVER_USER_ID" />
        <result property="lastAdjApprovalTs" column="LAST_ADJ_APPROVAL_TS" />
    </resultMap>

    <resultMap id="versionableResultMap" type="Versionable" extends="auditableResultMap">
        <result property="effectiveDate" column="EFFECTIVE_DT" />
        <result property="expirationDate" column="EXPIRATION_DT" />
        <result property="hashKeyTxt" column="HASH_KEY_TXT" />
    </resultMap>

    <resultMap id="instrumentResultMap" type="Instrument" extends="versionableResultMap">
        <id property="instrumentSid" column="INSTRUMENT_SID" />
        <result property="instrumentId" column="INSTRUMENT_ID" />
        <result property="instrumentShortName" column="INSTRUMENT_SHORT_NM" />
        <result property="couponRateTypeCode" column="COUPON_RATE_TYPE_CD" />
        <result property="cusip" column="CUSIP" />
    </resultMap>

    <resultMap id="interestRateScheduleResultMap" type="InterestRateSchedule" extends="versionableResultMap">
        <id property="interestRateScheduleSid" column="INTEREST_RATE_SCHEDULE_SID" />
        <result property="interestRateTypeCd" column="INTEREST_RATE_TYPE_CD" />
        <result property="interestRt" column="INTEREST_RT" />
    </resultMap>

    <resultMap id="cashDividendScheduleResultMap" type="CashDividendSchedule" extends="versionableResultMap">
        <id property="instrumentSid" column="INSTRUMENT_SID" />
        <result property="dividendTypeCd" column="DIVIDEND_TYPE_CD" />
        <result property="dividendSubtypeCd" column="DIVIDEND_SUBTYPE_CD" />
        <result property="currencyCd" column="CURRENCY_CD" />
        <result property="exDividendDate" column="EX_DIVIDEND_DT" />
        <result property="netPaymentAmt" column="NET_PAYMNT_AMT" />
    </resultMap>

    <resultMap id="callScheduleResultMap" type="CallSchedule" extends="versionableResultMap">
        <id property="callScheduleSid" column="CALL_SCHEDULE_SID" />
        <result property="instrumentSid" column="INSTRUMENT_SID" />
        <result property="callProvisionTypeCd" column="CALL_PROVISION_TYPE_CD" />
        <result property="callDate" column="CALL_DT" />
        <result property="callPrc" column="CALL_PRC" />
    </resultMap>

    <resultMap id="putScheduleResultMap" type="PutSchedule" extends="versionableResultMap">
        <id property="putScheduleSid" column="PUT_SCHEDULE_SID" />
        <result property="instrumentSid" column="INSTRUMENT_SID" />
        <result property="putTermsSeqNbr" column="PUT_TERMS_SEQ_NBR" />
        <result property="putDate" column="PUT_DT" />
        <result property="putPrc" column="PUT_PRC" />
    </resultMap>

    <resultMap id="underlyingInstrumentLinkResultMap" type="UnderlyingInstrumentLink" extends="versionableResultMap">
        <id property="underlyingInstrumentLinkSid" column="UNDERLYING_INSTRUMENT_LINK_SID" />
        <result property="underlyingInstrumentSid" column="UNDERLYING_INSTRUMENT_SID" />
        <result property="overlayingInstrumentSid" column="OVERLAYING_INSTRUMENT_SID" />
        <result property="expirationOrConverEndDate" column="EXPIRATION_OR_CONVER_END_DT" />
        <result property="converFctr" column="CONVER_FCTR" />
    </resultMap>

    <resultMap id="tradableEntityResultMap" type="TradableEntity" extends="versionableResultMap">
        <id property="tradableEntitySid" column="TRADABLE_ENTITY_SID" />
        <result property="instrumentSid" column="INSTRUMENT_SID" />
        <result property="tradableEntityId" column="TRADABLE_ENTITY_ID" />
        <result property="marketExchangeCd" column="MARKET_EXCHANGE_CD" />
        <result property="tradableEntityInternalId" column="TRADABLE_ENTITY_INTERNAL_ID" />
    </resultMap>

    <resultMap id="tradableEntitySnapshotResultMap" type="TradableEntitySnapshot" extends="adjustableResultMap">
        <id property="tradableEntitySnapshotSid" column="TRADABLE_ENTITY_SNAPSHOT_SID" />
        <result property="tradableEntitySid" column="TRADABLE_ENTITY_SID" />
        <result property="reportDate" column="REPORTING_DT" />
        <result property="derYieldCalcEngineCode" column="DER_YIELD_CALC_ENGINE_CD" />
        <result property="derIncomeCalcEngineCode" column="DER_INCOME_CALC_ENGINE_CD" />
        <result property="derRedemptionPrice" column="DER_REDEMPTION_PRC" />
        <result property="derRedemptionDate" column="DER_REDEMPTION_DT" />
        <result property="marketPrice" column="MARKET_PRC" />
        <result property="currentIncomeRate" column="CURRENT_INCOME_RT" />
        <result property="fdrTipsInflationaryRatio" column="FDR_TIPS_INFLATIONARY_RATIO_RT" />
        <result property="fdrCleanPrice" column="FDR_CLEAN_PRC" />
        <result property="derOneDaySecurityYield" column="DER_SEC_1_DAY_YIELD_RT" />
    </resultMap>

    <resultMap id="portfolioResultMap" type="Portfolio" extends="versionableResultMap">
        <id property="portfolioSid" column="PORTFOLIO_SID" />
        <result property="portfolioId" column="PORTFOLIO_ID" />
        <result property="portfolioShortName" column="PORTFOLIO_SHORT_NM" />
        <result property="portfolioName" column="PORTFOLIO_NM" />
        <result property="fdrDistributionEligibleInd" column="FDR_DISTRIBUTION_ELIGIBLE_IND" />
        <result property="fdrPortfolioTypeCode" column="FDR_PORTFOLIO_TYPE_CD" />
        <result property="cusip" column="CUSIP" />
    </resultMap>

    <resultMap id="taxExclusionResultMap" type="TaxExclusion" extends="versionableResultMap">
        <id property="taxExclusionSid" column="PORTFOLIO_TAX_EXCLUSION_SID" />
        <result property="portfolioSid" column="PORTFOLIO_SID" />
        <result property="portfolioTaxExclLocCd" column="PORTFOLIO_TAX_EXCL_LOC_CD" />
    </resultMap>

    <resultMap id="portfolioSnapshotResultMap" type="PortfolioSnapshot" extends="auditableResultMap">
        <id property="portfolioSnapshotSid" column="PORTFOLIO_SNAPSHOT_SID" />
        <result property="portfolioSid" column="PORTFOLIO_SID" />
        <result property="reportDate" column="REPORTING_DT" />
        <result property="derPortfolioTierNbr" column="DER_PORTFOLIO_TIER_NBR" />
        <result property="expenseAmt" column="FDR_SEC_EXPENSE_AMT" />
        <result property="derTotalIncomeAmt" column="FDR_SEC_TOTAL_INCOME_AMT" />
        <result property="derSec1DayYieldAmt" column="DER_SEC_1_DAY_YIELD_PCT" />
        <result property="derSec30DayYieldAmt" column="DER_SEC_30_DAY_YIELD_PCT" />
        <result property="derSecRestartedYieldAmt" column="DER_SEC_RESTATED_YIELD_PCT" />
        <result property="fdrSecYieldAdjAmt" column="FDR_SEC_MIL_ADJ_PCT" />
        <result property="fdrN1ATotGrosIncUnmodAmt" column="FDR_N1A_TOT_GROS_INC_UNMOD_AMT" />
        <result property="fdrN1AOospDistIncomeAmt" column="FDR_N1A_OOSP_DIST_INCOME_AMT" />
        <result property="fdrN1AOospDistAmortAmt" column="FDR_N1A_OOSP_DIST_AMORT_AMT" />
        <result property="fdrN1ANetOospDistIncAmt" column="FDR_N1A_NET_OOSP_DIST_INC_AMT" />
        <result property="fdrN1AOospGrosDistInc" column="FDR_N1A_OOSP_GROS_DIST_INC_PCT" />
        <result property="fdrPortfolioStateTaxRt" column="FDR_PORTFOLIO_STATE_TAX_RT" />
        <result property="adjDerSec1DayYieldAmt" column="ADJ_DER_SEC_1_DAY_YIELD_PCT" />
        <result property="adjDerSec30DayYieldAmt" column="ADJ_DER_SEC_30_DAY_YIELD_PCT" />
        <result property="derFundSecYieldPmeChgPct" column="DER_SEC_YIELD_PME_CHG_PCT" />
        <result property="derRstSecYieldPmeChgPct" column="DER_RST_SEC_YIELD_PME_CHG_PCT" />
        <result property="derMnyMkt7DayYieldPmeChgPct" column="DER_MM_7_DAY_YLD_PME_CHG_PCT" />
        <result property="derMnyMkt30DayYieldPmeChgPct" column="DER_MM_30_DAY_YLD_PME_CHG_PCT" />
        <result property="derMnyMktGrossYieldDodChgPct" column="DER_MM_GROSS_YIELD_DOD_CHG_PCT" />
        <result property="derMnyMktRst7DayYieldDodChgPct" column="DER_MM_RST_7D_YLD_DOD_CHG_PCT" />
        <result property="derDist1DayYieldC2CCmprPct" column="DER_DIST_1D_YLD_C2C_CMPR_PCT" />
        <result property="derDist30DayYieldC2CCmprPct" column="DER_DIST_30D_YLD_C2C_CMPR_PCT" />
        <result property="derDist1DayYieldPmeChgPct" column="DER_DIST_1_DAY_YLD_PME_CHG_PCT" />
        <result property="derDist30DayYieldChgPmePct" column="DER_DIST_30D_YLD_CHG_PME_PCT" />
        <result property="derDist12MoYieldChgPmePct" column="DER_DIST_12MO_YLD_CHG_PME_PCT" />
        <result property="mnyMkt1DayGrossYieldPct" column="MM_1DAY_GROSS_YIELD_PCT" />
        <result property="mnyMkt1DayDistYieldPct" column="MM_1DAY_DIST_YIELD_PCT" />
        <result property="mnyMktN1AStateTaxRt" column="MM_N1A_STATE_TAX_RT" />
        <result property="fdrDistributableCapstockQty" column="FDR_DISTRIBUTABLE_CAPSTOCK_QTY" />
        <result property="der1DaySecMilRt" column="DER_SEC_1_DAY_MIL_RT" />
        <result property="der30DaySecMilRt" column="DER_SEC_30_DAY_MIL_RT" />
    </resultMap>

    <resultMap id="portfolioHoldingSnapshotResultMap" type="PortfolioHoldingSnapshot" extends="adjustableResultMap">
        <id property="portfolioHoldingSnapshotSid" column="PORTFOLIO_HOLDING_SNAPSHOT_SID" />
        <result property="portfolioSid" column="PORTFOLIO_SID" />
        <result property="reportDate" column="REPORTING_DT" />
        <result property="tradableEntitySid" column="TRADABLE_ENTITY_SID" />
        <result property="holdingBusinessGroupViewCd" column="HOLDING_BUSINESS_GROUP_VIEW_CD" />
        <result property="holdingViewCd" column="HOLDING_VIEW_CD" />
        <result property="positionCd" column="POSITION_CD" />
        <result property="tradableEntityId" column="TRADABLE_ENTITY_ID" />
        <result property="accruedIncomeAmt" column="ACCRUED_INCOME_AMT" />
        <result property="earnedAmortBaseAmt" column="EARNED_AMORT_BASE_AMT" />
        <result property="earnedInflCmpsBaseAmt" column="EARNED_INFL_CMPS_BASE_AMT" />
        <result property="marketValueBaseAmt" column="MARKET_VALUE_BASE_AMT" />
        <result property="inflationAdjShareCnt" column="INFLATION_ADJ_SHARE_CNT" />
        <result property="settleShareCnt" column="SETTLE_SHARE_CNT" />
        <result property="originalFaceShareQty" column="ORIGINAL_FACE_SHARE_QTY" />
        <result property="fxRt" column="FX_RT" />
        <result property="derSecYield1DayIncomeAmt" column="DER_SEC_YIELD_1_DAY_INCOME_AMT" />
        <result property="adjDerSecYield1ayIncAmt" column="ADJ_DER_SEC_YIELD_1DAY_INC_AMT" />
        <result property="adjDerMarketValueBaseAmt" column="ADJ_DER_MARKET_VALUE_BASE_AMT" />
        <result property="adjSettleShareCnt" column="ADJ_SETTLE_SHARE_CNT" />
        <result property="adjAccruedIncomeAmt" column="ADJ_ACCRUED_INCOME_AMT" />
        <result property="adjEarnedAmortBaseAmt" column="ADJ_EARNED_AMORT_BASE_AMT" />
        <result property="adjEarnedInflCmpsBaseAmt" column="ADJ_EARNED_INFL_CMPS_BASE_AMT" />
        <result property="adjCommentsTxt" column="ADJ_COMMENTS_TXT" />
    </resultMap>

    <resultMap id="shareClassResultMap" type="ShareClass" extends="versionableResultMap">
        <id property="shareClassSid" column="SHARE_CLASS_SID" />
        <result property="portfolioSid" column="PORTFOLIO_SID" />
        <result property="transferAgentShareClassId" column="TRANSFER_AGENT_SHARE_CLASS_ID" />
        <result property="accountingShareClassId" column="ACCOUNTING_SHARE_CLASS_ID" />
        <result property="firsShareClassId" column="FIRS_SHARE_CLASS_ID" />
        <result property="taacShareClassId" column="TAAC_SHARE_CLASS_ID" />
        <result property="shareClassName" column="SHARE_CLASS_NM" />
        <result property="nasdaqShareClassId" column="NASDAQ_SHARE_CLASS_ID" />
    </resultMap>

    <resultMap id="shareClassSnapshotResultMap" type="ShareClassSnapshot" extends="auditableResultMap">
        <id property="shareClassSnapshotSid" column="SHARE_CLASS_SNAPSHOT_SID" />
        <result property="shareClassSid" column="SHARE_CLASS_SID" />
        <result property="reportDate" column="REPORTING_DT" />
        <result property="calendarDate" column="CALENDAR_DT" />
        <result property="mm1DayMilRt" column="MM_1_DAY_MIL_RT" />
        <result property="derMnyMktRestatedMilRt" column="DER_MM_RESTATED_MIL_RT" />
        <result property="distYieldMilRt" column="DIST_YIELD_MIL_RT" />
        <result property="expenseAmt" column="FDR_SEC_EXPENSE_AMT" />
        <result property="derTotalExpenseAmt" column="FDR_SEC_PORT_CLASS_EXP_TOT_AMT" />
        <result property="mnyMkt1DayYieldPct" column="MM_1_DAY_YIELD_PCT" />
        <result property="derMnyMkt7DayYieldPct" column="DER_MM_7_DAY_YIELD_PCT" />
        <result property="derMnyMkt30DayYieldPct" column="DER_MM_30_DAY_YIELD_PCT" />
        <result property="derMnyMktCompound7DayYieldPct" column="DER_MM_COMPOUND_7D_YIELD_PCT" />
        <result property="derMnyMkt1DayN1AYieldPct" column="DER_MM_1_DAY_N1A_YIELD_PCT" />
        <result property="derMnyMkt7DayN1AYieldPct" column="DER_MM_7_DAY_N1A_YIELD_PCT" />
        <result property="derMnyMkt30DayN1AYieldPct" column="DER_MM_N1A_30_DAY_YIELD_PCT" />
        <result property="n1ADistReimbursementAmt" column="N1A_DIST_REIMBURSEMENT_AMT" />
        <result property="derMnyMktRst7DayYieldPct" column="DER_MM_RST_7_DAY_YIELD_PCT" />
        <result property="derMnyMktRst30DayYieldPct" column="DER_MM_RST_30_DAY_YIELD_PCT" />
        <result property="derN1ADistIncomeAmt" column="DER_N1A_DIST_INCOME_AMT" />
        <result property="derN1ADailyMilRt" column="DER_N1A_DAILY_MIL_RT" />
        <result property="n1ADistIncomeUnmodAmt" column="N1A_DIST_INCOME_UNMOD_AMT" />
        <result property="n1ADistIncomeAdjAmt" column="N1A_DIST_INCOME_ADJ_AMT" />
        <result property="n1ADistIncomeBreakageAmt" column="N1A_DIST_INCOME_BREAKAGE_AMT" />
        <result property="n1ADistIncomeAdjRevAmt" column="N1A_DIST_INCOME_ADJ_REV_AMT" />
        <result property="dist1DayYieldPct" column="DIST_1_DAY_YIELD_PCT" />
        <result property="dist30DayYieldPct" column="DIST_30_DAY_YIELD_PCT" />
        <result property="navAmt" column="NAV_AMT" />
        <result property="derSec1DayYieldPct" column="DER_SEC_1_DAY_YIELD_PCT" />
        <result property="derSec30DayYieldPct" column="DER_SEC_30_DAY_YIELD_PCT" />
        <result property="derSecRestatedYieldPct" column="DER_SEC_RESTATED_YIELD_PCT" />
        <result property="distributableCapstockQty" column="DISTRIBUTABLE_CAPSTOCK_QTY" />
        <result property="n1AGrossIncomeUnmodAmt" column="N1A_GROSS_INCOME_UNMOD_AMT" />
        <result property="n1AReimbursementEarnedAmt" column="N1A_REIMBURSEMENT_EARNED_AMT" />
        <result property="n1AWaiverEarnedAmt" column="N1A_WAIVER_EARNED_AMT" />
        <result property="fdrN1ATaxAmt" column="FDR_N1A_TAX_AMT" />
        <result property="fdrN1AGrossDistIncomeAmt" column="FDR_N1A_GROSS_DIST_INCOME_AMT" />
        <result property="adjExclShareClassCalcInd" column="ADJ_EXCL_SHARE_CLASS_CALC_IND" />
        <result property="derN1ADailyYieldPct" column="DER_N1A_DAILY_YIELD_PCT" />
        <result property="derSecYieldPmeChgPct" column="DER_SEC_YIELD_PME_CHG_PCT" />
        <result property="derMnyMkt1DayDistYieldDodChgPct" column="DER_MM_1D_DIST_YLD_DOD_CHG_PCT" />
        <result property="derMnyMkt7DayDistYieldDodChgPct" column="DER_MM_7D_DIST_YLD_DOD_CHG_PCT" />
        <result property="derMnyMkt1DayN1AYieldDodChgPct" column="DER_MM_1D_N1A_YLD_DOD_CHG_PCT" />
        <result property="derMnyMkt7DayN1AYieldDodChgPct" column="DER_MM_7D_N1A_YLD_DOD_CHG_PCT" />
        <result property="derDist12MoYieldPct" column="DER_DIST_12_MO_YIELD_PCT" />
        <result property="derDist30DayYieldPct" column="DER_DIST_30_DAY_YIELD_PCT" />
        <result property="derMnyMktRestate1DayYieldPct" column="DER_MM_RESTATE_1_DAY_YIELD_PCT" />
        <result property="derMnyMktN1ACompound7dayYield" column="DER_MM_N1A_COMPOUND_7DAY_YIELD" />
        <result property="secReimbursementEarnedAmt" column="SEC_REIMBURSEMENT_EARNED_AMT" />
        <result property="distUnmod30DayYieldPct" column="DIST_UNMOD_30_DAY_YIELD_PCT" />
        <result property="dist12MoMilRt" column="DIST_12_MO_MIL_RT" />
    </resultMap>

</mapper>