<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:annotation-config />	
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
				<value>classpath:messages.properties</value>
				<value>classpath:constants.properties</value>
				<value>classpath:calculationtestdata.properties</value>
			</list>

		</property>
	</bean>

	<context:component-scan base-package="com.csa.apex.secyield" />

	<!-- Injection for SequenceSecurityCalculationEngine -->
	<bean id="sequenceSecurityCalculationEngine"
		class="com.csa.apex.secyield.api.engines.impl.SequenceSecurityCalculationEngine">
		<property name="calculationEngines">
			<list>
				<bean
					class="com.csa.apex.secyield.api.engines.impl.CouponYieldCalculationEngine" />
				<bean
					class="com.csa.apex.secyield.api.engines.impl.CouponIncomeCalculationEngine" />
			</list>
		</property>

	</bean>

	<!-- Injection for YtmYieldCalculationEngine -->
	<bean id="ytmYieldCalculationEngine"
		class="com.csa.apex.secyield.api.engines.impl.YtmYieldCalculationEngine">
		<property name="bisectionAlgoMaximumIterations">
			<value>100</value>
		</property>
		<property name="epsilon">
			<value>0.000000001</value>
		</property>
		<property name="minYield">
			<value>-0.2</value>
		</property>
		<property name="maxYield">
            <value>0.2</value>
        </property>
	</bean>

	<!-- Injection for CalculationEngineSelector -->
	<bean id="calculationEngineSelector"
		class="com.csa.apex.secyield.api.engines.impl.CalculationEngineSelector">
		<property name="calculationEngines">
			<map>
				<entry>
					<key>
						<value>YTM</value>
					</key>
					<bean
						class="com.csa.apex.secyield.api.engines.impl.SequenceSecurityCalculationEngine">
						<property name="calculationEngines">
							<list>
								<ref bean="ytmYieldCalculationEngine" />
								<bean
									class="com.csa.apex.secyield.api.engines.impl.YtmIncomeCalculationEngine" />
							</list>
						</property>

					</bean>

				</entry>
				<entry>
					<key>
						<value>COUPON</value>
					</key>
					<bean
						class="com.csa.apex.secyield.api.engines.impl.SequenceSecurityCalculationEngine">
						<property name="calculationEngines">
							<list>
								<bean
									class="com.csa.apex.secyield.api.engines.impl.CouponYieldCalculationEngine" />
								<bean
									class="com.csa.apex.secyield.api.engines.impl.CouponIncomeCalculationEngine" />
							</list>
						</property>

					</bean>

				</entry>
			</map>
		</property>
	</bean>

	<!-- Injection for SECYieldServiceImpl -->
	<bean id="secYieldServiceImpl"
		class="com.csa.apex.secyield.api.services.impl.SECYieldServiceImpl">
		<property name="calculationEngineSelector">
			<ref bean="calculationEngineSelector" />
		</property>
		<property name="restTemplate">
			<bean class="org.springframework.web.client.RestTemplate" />
		</property>
		<property name="getConfigApiPath">
			<value>${getConfigApiPath}</value>
		</property>
		<property name="getCustomerDataApiPath">
			<value>${getCustomerDataApiPath}</value>
		</property>
		<property name="saveCalculatedSecuritySECDataApiPath">
			<value>${saveCalculatedSecuritySECDataApiPath}</value>
		</property>
		<property name="getCalculatedSecuritySECDataApiPath">
			<value>${getCalculatedSecuritySECDataApiPath}</value>
		</property>
	</bean>

	<!--  Common utility test data parser info -->
	<bean class="com.csa.apex.secyield.utility.CommonUtility">
		<property name="fileName" value="${calculationtestdata.filename}" />
		<property name="columns" value="${calculationtestdata.columns}" />
	</bean>
	<bean id="simpleMappingExceptionResolver"
			class="com.csa.apex.secyield.exceptions.AJAXExceptionResolver">
	</bean>
</beans>
